<html>
<head>
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/assets/main.css" type="text/css">
  <script type="text/javascript" src="//use.typekit.net/ink3bvi.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <header class="header">
    <h2><a href="/">IDE Patterns</a></h2>
    <nav>
      <ul>
        <li class="is-active"><a href="/blog">Blog</a></li>
        <li><a href="/ides">IDEs</a></li>
        <li><a href="/patterns">Patterns</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>

  <ul class="content">
  {{#each articles}}
    <li><a href="/{{path}}">{{ title }}</a></li>
  {{/each}}
  </ul>

</body>
</html>
