<html>
<head>
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="/assets/main.css" type="text/css">
  <script type="text/javascript" src="//use.typekit.net/ink3bvi.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <header class="header">
    <h2><a href="/"><span class="big">&lt;/&gt;</span>IDE Patterns</a></h2>
    <nav>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/ide">IDEs</a></li>
        <li class="is-active"><a href="/pattern">Patterns</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>



  <section class="content">
    <h1>{{ title }}</h1>
    {{{ contents }}}
  </section>

</body>
</html>
