%header {

  text-align: center;
  background: $color-background;
  padding: 2em 0 1em 0;
  h2 {
    @extend %box-full;
    .big {
      display: block;
      font-size: 150%;
      margin-bottom: .5em;
    }
    a {
      text-decoration: none;
      color: $color-text;
    }
  }
  nav {
    @extend %box-full;
    padding: 2em 0;
    text-align: center;
    ul {
      display: inline-block;

      @extend %clearfix;
      li {
        text-align: center;
        float: left;
        padding: 0 1em;
        a {
          text-decoration: none;
          color: $color-text;
        }
        &.is-active a {
          text-decoration: underline;
        }
      }
    }
  }
}

.header {
  @extend %header;

}
