%header {

  text-align: center;
  background: $color-background;
padding: 2em 0;
h2 {
  @extend %box-full;
  a {
    text-decoration: none;
    color: $color-text;
  }
}
  nav {
    @extend %box-full;
  }
}

.header {
  @extend %header;

}

nav {
  padding: 2em 0;
  text-align: center;
  ul {
    display: inline-block;

    @extend %clearfix;
    li {
      text-align: center;
      float: left;
      //width: 50%;
      padding: 0 1em;
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}
