/* Color scheme

https://kuler.adobe.com/durenceau-1-color-theme-3645263/
*/

$blue: #4A6D8B;
$green: #8ABE9B;
$yellow: #F2E07B;
$orange: #F48D6C;
$red: #F16663;


$color-text: #222;
$color-background: $blue;
$color-button: $green;
