%clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}


@import "reset";
@import "colors";


$max-width: 1000px;
$columns: 12;
$gutter: 1%;
@import "../bower_components/paws/sass/paws";
@include paws-generate;
@import "../bower_components/type.scss/type";


@import "typography";

// Modules
@import "modules/header";
@import "modules/content";
@import "modules/button";
@import "modules/list--article";

body {
    background: #fff;
    position: relative;
}


.is-not-scrollable {
    overflow: hidden;
}

a {
  text-decoration: none;
  color: $color-text;
}
